@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*box model*/
body{
	font-family: 'Merriweather', serif;
	background-color: #EBF2FF;
	overflow-x: hidden;
	transition: all 0.5s;
}
/*to remove the default designs*/
button{
	background-color: transparent;
	border: none;
}
/*to remove the default designs*/
section{
	margin: 20px 0;
}
/*to add a space between section in future and this will apply for all the section that we have used*/
.navbar{
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	background-color: #ffffff;
	justify-content: space-between;
	padding: 0 20px;
	z-index: 999;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}
.brand__logo{
	width: 100%;
	height: 100%;
}
.navbar__brand{
	width: 100px;
}
.primary__button{
	background-image: linear-gradient(
	to right,
	#ff512f 0%,
	#dd2476 51%,
	#ff512f 100%
	);
	padding: 10px;
	color: #ffffff;
	border-radius: 4px;
	transition-duration: 0.5s;
	background-size: 200% auto;
}
.primary__button:hover{
	background-position: right center;
}
.container{
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.hero__image__container{
	position: relative;
	width: 100%;
}
.hero__image{
	position: absolute;
	width: 100%;
	height: 80%;
	right: auto;
	left: auto;
	z-index: 3;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.hero__image2{
	position: absolute;
	width: 100%;
	z-index: 2;
	right: -20px;
}
.hero__image3{
	width: 100%;
}
.hero__description{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}
.text__lg{
	padding-top: 20px;
	font-size: 1.75rem;
	line-height: 2.25rem;
	color: #1d3557;
	font-weight: bold;
}
.video__footage__container{
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.video__footage{
	position: relative;
}
.video__footage::before{
	content: "";
	position: absolute;
	background-image: linear-gradient(
	to right,
	#ff512f 0%,
	#dd2476 51%,
	#ff512f 100%
	);
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transform: translate(1rem, 1rem);
	z-index: -1;
}
.shapeai__video{
	width: 100%;
	height: 100%;
}
.video__footage__text{
	margin-top: 2rem;
	color: #1d3557;
	font-size: 1rem;
	font-weight: 300;
	text-align: center;
}
.food__list__container{
	width: 100%;
	position: relative;
	margin: 2rem 0;
}
.food__menu__card{
	background-color: #ffffff;
	width: 1005;
	border-radius: 6px;
}
.food__menu__card__image{
	width: 100%;
	border-radius: 6px 6px 0 0;
}
.food__menu__card__title{
	font-size: 1.25rem;
	font-weight: 700;
	color: #1d3557;
	margin: 0.5rem 0;
}
.food__menu__card__text{
	color: #1d3557;
}
.food__menu__card__description{
	padding: 1rem;
}
.food__menu__card__list{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem 0;
}
.food__menu__card__list > div:nth-child(2){
	margin-top: -1rem;
	margin-bottom: 1rem;
}
.retaurent__list__container{
	margin-top: 3rem;
}
.retaurent__list__image__container{
	width: 100%;
}
.retaurent__list__image__row1{
	display: flex;
	align-items: baseline;
}
.retaurent__list__image__row2{
	display: flex;
	align-items: flex-start;
	margin-top: 10px;
}
.restaurent1, .restaurent3{
	border-radius: 4px;
	margin: 0 4px;
	width: 150px;
	height: 100px;
}
.restaurent2, .restaurent4{
	border-radius: 4px;
	margin: 0 4px;
	width: 200px;
	height: 130px;
}
.newsletter__container{
	display: none;
}
.newsletter__subscribe__container{
	margin: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 1rem;
}
.newsletter__input__items{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 3px;
	align-items: center;
}
.newsletter__input{
	border: 2px solid #ff512f;
	padding: 10px;
	color: #000000;
	border-radius: 4px;
	transition-duration: 0.5s;
	width: 50%;
	height: 30px;
	font-size: 8px;
}
.footer__container{
	background-image: linear-gradient(
	to right,
	#ff512f 0%,
	#dd2476 51%,
	#ff512f 100%
	);
	transition-duration: 0.5s;
	background-size: 200% auto;
	width: 100%;
	height: 100px;
	margin-top: 1rem;
}
.footer__container:hover{
	background-position: right center;
}
.footer__brand__logo__container{
	display: none;
}
.footer__brand__logo{
	width: 100%;
}
.footer__sitemap__items{
	display: none;
}
.closing__text{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #383838;
	width: 100%;
	padding: 4px;
	font-size: 10px;
}






@media (min-width: 768px){
	.hero__container{
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		gap: 10px;
	}
	.hero__image__container{
		margin-top: 2rem;
	}
/*	here I have added it to the hero__image__container because I have used the same photo 3 times, so it is easy to put a margin on it rather than doing it separately to the hero__image*/
	.text__lg{
		font-size: 2rem;
		font-weight: 900;
	}
	.food__menu__card__list{
		flex-direction: row;
		padding: 3rem;
	}
	.retaurent__list__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.restaurent__list__text{
		width: 100%;
	}
}
@media (min-width: 1024px){
	.container{
		max-width: 900px;
	}
	.navbar{
		padding: 0 50px;
	}
	.navbar__brand{
		width: 160px;
	}
	.primary__button{
		font-size: 20px;
		padding: 15px 20px;
		font-weight: bold;
	}
	.text__lg{
		font-size: 3rem;
		font-weight: 900;
		line-height: 3.2rem;
	}
	.video__footage__container{
		margin-top: 2.5rem;
	}
	.video__footage__text{
		width: 70%;
	}
	.food__menu__card__list{
		flex-direction: row;
	}
	.food__list__container__diagonal{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		transform: skewY(-5deg);
		background-image: linear-gradient(
		to right,
		#ff512f 0%,
		#dd2476 51%,
		#ff512f 100%
		);
		z-index: -3;
	}
	.food__list__container{
		margin: 5rem 0;
	}
	.restaurent1, .restaurent3{
		width: 240px;
		height: 130px;
	}
	.restaurent2, .restaurent4{
		width: 300px;
		height: 220px;
	}
	.newsletter__subscribe__container{
		margin: 3rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 1rem;
	}
	.newsletter__input__items{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 5px;
		align-items: center;
	}
	.newsletter__input{
		border: 2px solid #ff512f;
		padding: 10px;
		color: #000000;
		border-radius: 4px;
		transition-duration: 0.5s;
		width: 30%;
		height: 50px;
		font-size: 20px;
	}
	.newsletter__container{
		margin-top: 1rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.newsletter__banner__image__container{
		position: relative;
		width: 100%;
	}
	.newsletter__banner__text__container{
		position: absolute;
		text-align: center;
		font-size: 30px;
		font-weight: 800;
		width: 70%;
		z-index: 2;
		color: #ffffff;
	}
	.newsletter__banner__image{
		width: 100%;
	}
	.footer__container{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		height: 250px;
		align-items: center;
		margin-top: 1rem;
	}
	.footer__brand__logo__container{
		display: flex;
		position: relative;
		width: 35%;
	}
	.footer__brand__logo{
		width: 100%;
	}
	.footer__sitemap__items{
		display: block;
		text-align: left;
		color: #ffffff;
		font-size: 18px;
		font-weight: 300;
		width: 20%;
	}
	.footer__sitemap__item{
		width: 100%;
	}
	.closing__text{
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		background-color: #383838;
		width: 100%;
		padding: 1rem;
		font-size: 15px;
	}
}
@media (min-width: 1200px){
	.container{
		max-width: 1100px;
	}
}
@media (min-width: 1536px){
	.container{
		max-width: 1250px;
	}
}